.cart-list-container {
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 95%;
  max-height: 50vh;
  overflow-y: auto;
  color: #111827;
}

.list-header {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #111827;
}

.item-quantity,
.item-name,
.item-price {
  flex: 1;
  margin: 0;
  text-align: center;
  color: #111827;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.footer-container {
  margin-top: 10px;
  text-align: right;
}

.total-text {
  font-size: 1rem;
  font-weight: bold;
  margin: 5px 0;
  color: #374151;
}

@media (prefers-color-scheme: dark) {
  .cart-list-container {
    background-color: #fff;
    color: #111827;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  .list-header,
  .item-quantity,
  .item-name,
  .item-price {
    color: #111827;
  }

  .total-text {
    color: #374151;
  }
}
