.slick-prev:before,
.slick-next:before {
    border: gray solid 2px !important;
    background: black !important;
    color: blanchedalmond !important;
}
.cursor-follower {
    position: absolute;
    width: 50px;  /* Tamaño del círculo */
    height: 50px;
    border-radius: 50%;
    background-color: rgb(211, 12, 102);  /* Color del círculo */
    pointer-events: none;
    transform: translate(-50%, 10%);  /* Centra el círculo en las coordenadas del cursor */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;  /* Color del texto */
    font-size: 20px;  /* Tamaño del texto */
    font-family: Arial, sans-serif;  /* Tipo de fuente para asegurar consistencia */
}





