.nav-menu {
    z-index: 5;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
  }
  
  .menu-container {
    z-index: 1;
    position: fixed;
    height: 95%;
    width: 100%;
    background: #E94444;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  
  .list-items li {
    list-style-type: none;
    font-size: 47px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .list-items li > a {
    color: white;
    text-decoration: none;
  }
  