import tail
.nav-menu {
    z-index: 5;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
  }
  /* Ocultar la barra de desplazamiento en navegadores basados en WebKit (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Ocultar barra de desplazamiento en Edge e Internet Explorer */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Oculta scrollbar en IE y Edge */
  scrollbar-width: none; /* Oculta scrollbar en Firefox */
}

  
  .menu-container {
    z-index: 1;
    position: fixed;
    height: 95%;
    width: 100%;
    background: #1F023F;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  
  .list-items li {
    list-style-type: none;
    font-size: 47px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .list-items li > a {
    color: white;
    text-decoration: none;
  }
  