.main-sales {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .sales-header {
    padding: 10px;
    color: white;
    text-align: center;
  }
  
  .header-tools {
    background-color: white;
   
  }
  
.sales-container {
  min-height: 100vh;
  padding: 0px;
}
 
.sales-footer-loader {
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: absolute;
  bottom: 0;
  height: 80px;
  padding: 5px;
  width: 100%;
  border-top: 0.7px solid #ccc;
  align-items: center;
}
.sales-footer {
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: sticky;
    bottom: 0;
    height: 80px;
    padding: 5px;
    border-top: 0.7px solid #ccc;
    align-items: center;
}
  
.order-button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 80%;
    border-radius: 25px;
    height: 45px;
}
.cart-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-family: 18px;
}