.cursor-follower-secundario {
    position: absolute;
    width: 50px;  /* Tamaño del círculo */
    height: 50px;
    border-radius: 50%;
    background-color: rgb(211, 12, 102);  /* Color del círculo */
    pointer-events: none;
    transform: translate(-45%, -50%);  /* Centra el círculo en las coordenadas del cursor */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;  /* Color del texto */
    font-size: 20px;  /* Tamaño del texto */
    font-family: Arial, sans-serif;  /* Tipo de fuente para asegurar consistencia */
}

.circle-container {
  position: relative;
  width: 100%; /* Ajusta según el tamaño que prefieras */
  height: 300px; /* Ajusta según el tamaño que prefieras */
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-image {
  width: 10%; /* Ajusta el tamaño de la imagen */
  height: 50%;
  z-index: 10;
}

.circle-of-dots {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
}

.circle-of-dots::before,
.circle-of-dots::after {
  content: "";
  position: absolute;
  width: 8px; /* Tamaño de los puntos */
  height: 8px;
  background-color: #6D01D1;
  border-radius: 50%;
  box-shadow: 
    0 -140px 0 0 #6D01D1, 
    99px -99px 0 0 #fff, 
    140px 0 0 0 #6D01D1,
    99px 99px 0 0 #fff, 
    0 140px 0 0 #6D01D1, 
    -99px 99px 0 0 #fff, 
    -140px 0 0 0 #6D01D1,
    -99px -99px 0 0 #fff;
    animation: rotate 10s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (min-width: 768px) {
  .circle-container {
    height: 600px;
    object-fit: cover;
  }

}