@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
   
}

body {
    background-color: #ffffff;
    color: black;
    
}

::-webkit-scrollbar {
    display: none; /* Chrome, Edge */
}

