.contenedor-banner{
    background-color: #490592;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
.titulo-pagina{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.rombo::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid #fff;
    border-right: 6px solid #fff;
    border-bottom: 6px solid #fff;
    border-top: 6px solid #fff;
    top: 50%;
    left: 60%;
    rotate: 45deg;
    transform: translate(-50%, -50%);
}
.mouse {
    display: block;
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 30px;
    height: 48px;
    border: 2px solid #fff;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}
.wheel {
    display: block;
    margin: 0 0 0 -2px;
    position: absolute;
    top: 10px;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-animation: scroll-wheel 1.8s linear 0s infinite normal none;
    -webkit-animation: scroll-wheel 1.8s linear 0s infinite normal none;
    animation: scroll-wheel 1.8s linear 0s infinite normal none;
}
@keyframes scroll-wheel {
    0% {
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    35% {
        -moz-transform: translate3d(0, 7px, 0);
        -webkit-transform: translate3d(0, 7px, 0);
        transform: translate3d(0, 7px, 0);
        opacity: 1;
    }
    50% {
        -moz-transform: translate3d(0, 10px, 0);
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
        opacity: 0;
    }
    50.001% {
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 0;
    }
    80% {
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 0;
    }
}